@{
    Layout = "~/Views/Shared/_LayoutCSKH.cshtml";
}
            <!-- Main Content -->
            <div class="main-content">
                <h1 class="page-title">Danh sách đơn đăng ký</h1>

                <div class="filter-bar">
                    <div class="filter-options">
                        <div class="search-filter">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="Tìm kiếm đơn đăng ký...">
                        </div>

                        <!-- <div class="filter-group">
                            <div class="filter-label">Ngày</div>
                            <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                        </div> -->

                        <div class="filter-group">
                            <div class="filter-label">Loại dịch vụ</div>
                            <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                        </div>
                    </div>


                </div>

                <div class="registration-list">
                    <div class="list-header">
                        <div>Mã đăng ký</div>
                        <div>Khách hàng</div>
                        <div>Mô tả yêu cầu</div>
                        <div>Loại dịch vụ</div>
                        <div>SDT liên hệ</div>
                        <div>Cập nhật</div>
                    </div>

                    <div class="list-item">
                        <div>DK001</div>
                        <div>Nguyễn Vũ Khanh</div>
                        <div>Lorem ipsum dolor sit amet,...</div>
                        <div>Lắp đặt</div>
                        <div>0934742106</div>
                        <div class="action-buttons">
                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                            <i class="fa-solid fa-eye see-icon"></i>
                            <i class="fa-solid fa-trash delete-icon"></i>
                        </div>
                    </div>

                    <div class="list-item">
                        <div>DK002</div>
                        <div>Trần Phước Lộc</div>
                        <div>Lorem ipsum dolor sit amet,...</div>
                        <div>Lắp đặt</div>
                        <div>0934742106</div>
                        <div class="action-buttons">
                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                            <i class="fa-solid fa-eye see-icon"></i>
                            <i class="fa-solid fa-trash delete-icon"></i>
                        </div>
                    </div>

                    <div class="list-item">
                        <div>DK003</div>
                        <div>Lưu Ngọc Yến Như</div>
                        <div>Lorem ipsum dolor sit amet,...</div>
                        <div>Sửa chữa</div>
                        <div>0934742106</div>
                        <div class="action-buttons">
                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                            <i class="fa-solid fa-eye see-icon"></i>
                            <i class="fa-solid fa-trash delete-icon"></i>
                        </div>
                    </div>

                    <div class="list-item">
                        <div>DK004</div>
                        <div>Nguyễn Văn Huyn</div>
                        <div>Lorem ipsum dolor sit amet,...</div>
                        <div>Sửa chữa</div>
                        <div>0934742106</div>
                        <div class="action-buttons">
                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                            <i class="fa-solid fa-eye see-icon"></i>
                            <i class="fa-solid fa-trash delete-icon"></i>
                        </div>
                    </div>
                </div>

                <div style="display: flex; justify-content: flex-end;">
                    <button class="add-button">
                        <i class="fa-solid fa-plus add-icon"></i>
                        <a href="taodonsua.html" style="text-decoration: none; color: white;">Thêm đơn</a>
                    </button>
                </div>


            </div>
 



